language: python
sudo: required
services:
- docker
script:
- pip3 install --upgrade setuptools
- pip3 install --upgrade -r dev-requirements.txt
- pip3 install --upgrade --no-cache-dir --editable .
- rapydo --version
- rapydo --help
- git clone https://github.com/rapydo/tests.git rapydo_tests
- BRANCH=`[  -z "$TRAVIS_PULL_REQUEST_BRANCH" ] && echo "$TRAVIS_BRANCH" || echo "$TRAVIS_PULL_REQUEST_BRANCH"`
- echo "BRANCH = ${BRANCH}"
- cd rapydo_tests
- git checkout $BRANCH
- mkdir -p data
- export LOGURU_LEVEL=DEBUG
- TESTING=1 py.test -s -x --cov-report=xml --cov=controller ../tests
after_success:
# - coveralls
- bash <(curl -s https://codecov.io/bash)
- pwd
jobs:
  include:

  - stage: test
    python: 3.5
    dist: bionic
    env:
    - UBUNTU_VER=18.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.6
    dist: bionic
    env:
    - UBUNTU_VER=18.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.7
    dist: bionic
    env:
    - UBUNTU_VER=18.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.8
    dist: bionic
    env:
    - UBUNTU_VER=18.04  # only used as utility from the web interface, since the dist is not reported
  - python: 3.5
    dist: xenial
    env:
    - UBUNTU_VER=16.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.6
    dist: xenial
    env:
    - UBUNTU_VER=16.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.7
    dist: xenial
    env:
    - UBUNTU_VER=16.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.8
    dist: xenial
    env:
    - UBUNTU_VER=16.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.5
    dist: trusty
    env:
    - UBUNTU_VER=14.04  # only used as utility from the web interface, since the dist is not reported

  - python: 3.6
    dist: trusty
    env:
    - UBUNTU_VER=14.04  # only used as utility from the web interface, since the dist is not reported

  # - python: 3.5
  #   os: osx
  #   language: sh  # 'language: python' is an error on Travis CI macOS
  #   before_install:
  #     - brew update
  #     - brew upgrade python3
  #     - python3 -m pip install virtualenv
  #     - virtualenv .venv -p python3
  #     - source .venv/bin/activate
  #     - curl -fsSL https://get.docker.com -o get-docker.sh
  #     - sh get-docker.sh

  # - python: 3.6
  #   os: osx
  #   language: sh  # 'language: python' is an error on Travis CI macOS
  #   before_install:
  #     - brew update
  #     - brew upgrade python3
  #     - python3 -m pip install virtualenv
  #     - virtualenv .venv -p python3
  #     - source .venv/bin/activate
  #     - curl -fsSL https://get.docker.com -o get-docker.sh
  #     - sh get-docker.sh

  # - python: 3.7
  #   os: osx
  #   language: sh  # 'language: python' is an error on Travis CI macOS
  #   before_install:
  #     - brew update
  #     - brew upgrade python3
  #     - python3 -m pip install virtualenv
  #     - virtualenv .venv -p python3
  #     - source .venv/bin/activate
  #     - curl -fsSL https://get.docker.com -o get-docker.sh
  #     - sh get-docker.sh

  # - python: 3.8
  #   os: osx
  #   language: sh  # 'language: python' is an error on Travis CI macOS
  #   before_install:
  #     - brew update
  #     - brew upgrade python3
  #     - python3 -m pip install virtualenv
  #     - virtualenv .venv -p python3
  #     - source .venv/bin/activate
  #     - curl -fsSL https://get.docker.com -o get-docker.sh
  #     - sh get-docker.sh

  # Travis error:
  # ERROR: for XYZ image operating system "linux" cannot be used on this platform
  # - os: windows
  #   language: sh # The language 'python' is currently unsupported on the Windows Build Environment.
  #   python: "3.x"
  #   before_install:
  #     - choco install python3 --params "/InstallDir:C:\\Python"
  #     - export PATH="/c/Python:/c/Python/Scripts:$PATH"
  #     - python -m pip install --upgrade pip wheel

  - stage: deploy
    python: 3.7
    dist: xenial
    os: linux
    script: skip
    deploy:
      provider: pypi
      user: pdonorio
      password:
        secure: t5rXTrlqnR1De/rsfO4eDTyRz6e+osTnwLqkphwJ1JQzWh3n5lA2ZYYO6Vmil2oj3X+fFOuhMMnu/QGFwdYP+Hp1EPxecj2WnBKxkW8PtC20w0oAmxFg09teRq/RBbtHs+z/NGGYmWr7V0Ic5iQt53iTX4eBb6LhQ9aLHg05+SsJDAgniKQzpOtt72m+ZYECv86xIr3q5SIl+k0os1VwJtbAqJRMRigvPP05X0ufrTq/uCyHF9EEKOtvVdgYGfiFdOFh5URSfHaV4ASNNGEsU+l3Twfhk6wqQQkvSHeZy0onY90KnCLj7sl3bTyeo6wBPG5jGV/zYhHhZgWyLJI5hZk426oIvkZ0Tj6TxsZNUDNSHNhPgKuR6tEnEt0BGd4oL3YpAKzQmFWMfwzn0UF/CPhpF5gNxWbhfO/+yfxvPfw1QvrVHb9O5hXji8U1q2a+W9dqIAAxKnH0hZZLSQcCihSBTU4oh1lJXqG+Rzo3hLb8XtMEQjMIcx5f4zPf+unRqPWe6ViMZ0eikqmA6lniKMPnqk457fyxzLoda4iaSvSqMxByGx0DSqURIcU87ejKzI+TrZh+I3hqU2SK1yN79kTJ9wFnjKL+2OMjBhIIjUDa5tNf0RauNbCNyuTv2z947PMsJGEZRX4pGR29lwMLnQH3gVcrQ2eJTlxl5x4iEKo=
      on:
        tags: true
notifications:
  email: false
  slack:
    rooms:
      secure: VBkLxMwcNSpYQeg5LUyLz5O28Eq/KztevWZP04vdT5qFyKXo7xbygGaxgHcE8mG3TCmdsbyW7B3Pjc+63G2FlCKK+4icHrsEiP9BFRychD2CrpxhjgbEOArkMRbuN1FetDucUhq5ac8oMJpVXvHvN4jLZrk5GrH+SYL2co6yvWILujUpT5XoKF0/Hh5m8Xa+eYs0vH45on6vlwOz0Opv7n3itgrEVCklQzghVYpNuUiRn8RE98afeV3ePvs3TOmws3ZtjWMeqbB43au4iPe926sxj6OAoKXFVpRqozyQRCI1FPlMt+2c4jbrwl0ZqWqI/6TbSVU9lplPopkwYSK8RcwMelTP4XX4wxZK410+7rmgkNoCcB/lFCFd0ytmFcgS1fPfCM8zS9FCJeBfqvjUynCxzss2MuFu95pmCDtPrwapefUViJlHih6roWY+EPRJD2NftNeWO/xeVrOSoNqhaqL2tFhBiIbmJuMlhL+CKle1UP8IeBEa215AMyq+VGYigOvTTscn+zkDj0857RC/oyf8sPTtRk1qnic1Ajd4Uqs0qSUlyIAdlSu8YNN5hyUQIJA8hogZZlvXV90gj5w8XBH1VbaecBLcwdyJZQ4hQ+7vhE/UxiQWmqlYlgdGbAIRniRFZm12i6MrDEK8EMVH7SImDc8ZTGuGbNY/Tcgfw8Q=
    on_success: change # default: always
    on_failure: always # default: always
