Dear {% raw %}{{name}} {{surname}}{% endraw %},<br />
<br />
this email is to inform you that your credentials have been blocked due to the number of failed login attempts.<br />
<br/>
Here a list of last failed login events:<br/>
<br/>
<table>
  <tr><th>Date</th><th>IP</th><th>Location</th></tr>
{% raw %}
  {% for value in events -%}
  <tr><td>{{value["date"].strftime('%Y-%m-%d %H:%M:%S')}} UTC</td><td>{{value["IP"]}}</td><td>{{value["location"]}}</td></tr>
  {% endfor -%}
{% endraw %}
</table>
<br/>
Your credentials will be automatically unlocked in {% raw %}{{duration}}{% endraw %}<br/>

<br /><br />
This is an automated message, please do not reply to this email.

