<!--
<li class="nav-item dropdown" ngbDropdown>
  <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
    <i class="fa fa-language"></i>Language<b class="caret"></b>
  </a>
  <div class="dropdown-menu-right" ngbDropdownMenu>
    <a (click)="changeLang('en')" class="dropdown-item" href="javascript:void(0)">English</a>
    <a (click)="changeLang('it')" class="dropdown-item" href="javascript:void(0)">Italian</a>
  </div>
</li>
-->

<!--
<li class="nav-item">
  <a class="nav-link" href="javascript:void(0)">foo</a>
</li>
-->