<ul class="navbar-nav">

<!--
  <li class="nav-item" *ngIf="user && user.isAdmin">
    <a class="nav-link" routerLink="/app/admin/mylink" routerLinkActive="active" (click)="collapse()"> My Admin Link </a>
  </li>
-->

<!--
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" routerLink="/app/mylink" routerLinkActive="active" (click)="collapse()"> My Link </a>
  </li>
-->

<!--
  <li class="nav-item">
    <a class="nav-link" routerLink="/public/mylink" routerLinkActive="active" (click)="collapse()"> My Publc Link </a>
  </li>
-->

</ul>
