import { Injectable } from '@angular/core';
import { FormlyFieldConfig } from "@ngx-formly/core";
import { BaseProjectOptions } from "@rapydo/base.project.options";

@Injectable()
export class ProjectOptions extends BaseProjectOptions {
    private terms_of_use: string;

	constructor() {
        super();
        this.initTemplates();
    }

    privacy_acceptance() {
        return [
          { label: "Click here to visualize our Terms of Use", text: this.terms_of_use },
        ];
    }

    registration_disclaimer(): string {
        return null;
    }

    custom_registration_options(): FormlyFieldConfig[] {
		return [];
	}

    private initTemplates() {
        this.terms_of_use = `
This is a default text, something like a lorem ipsum placeholder. 
You should never visualize this text in a production environment. <br/>
If you are reading this text your terms of use are missing in your customization component <br/>
Please customize this text in your ProjectOptions.get_option (in custom.project.options.ts)<br />
<br/>
<br/>
`;
    }
}
