import { NgModule } from "@angular/core";
import { RouterModule, Routes } from "@angular/router";

import { SharedModule } from "@rapydo/shared.module";
import { AuthGuard } from "@rapydo/app.auth.guard";

// import { MyComponent } from "./components/mycomponent";

const routes: Routes = [
  {
    path: "",
    redirectTo: "/app/profile",
    pathMatch: "full"
  },
  {
    path: "app",
    redirectTo: "/app/profile",
    pathMatch: "full"
  },
/*
  {
    path: "app/myroute",
    component: MyComponent,
    canActivate: [AuthGuard],
    runGuardsAndResolvers: "always",
    data: {
      // roles: ["your_role"],
      // description: "Your custom page description",
      // title: "Your custom page title",
      // keywords: "Your custom page keywords",
    },
  },
*/
];

@NgModule({
  imports: [
    SharedModule,
    RouterModule.forChild(routes),
  ],
  declarations: [
    // MyComponent
  ],

  providers: [],

  exports: [
    RouterModule
  ]

})
export class CustomModule {
} 