from restapi import decorators
from restapi.connectors import {{auth}}
from restapi.models import Schema, fields  # ,  validate
from restapi.rest.definition import EndpointResource
from restapi.utilities.logs import log
# from restapi.services.authentication import Role

class MyInputSchema(Schema):
    myfield1 = fields.Str()


class MyOutputSchema(Schema):
    myfield2 = fields.Str()


class {{name.title().replace(" ", "")}}(EndpointResource):

    labels = ["custom"]

    @decorators.auth.require()
    @decorators.marshal_with(MyOutputSchema, code=200)
    @decorators.endpoint(
        path="/{{name.replace(" ", "_").lower()}}",
        summary="...",
        responses={
            "200": "..."
        }
    )
    # @decorators.cache(timeout=300)
    def get(self):

        db = {{auth}}.get_instance()
        # current_user = self.get_user()

        data = {}
        return self.response(data)

    @decorators.auth.require()
    @decorators.use_kwargs(MyInputSchema)
    @decorators.endpoint(
        path="/{{name.replace(" ", "_").lower()}}",
        summary="...",
        responses={
            "200": "..."
        }
    )
    def post(self, **kwargs):

        db = {{auth}}.get_instance()
        # user = self.get_user()
        log.info("Created")

        # Assign with the uuid of newly created resource
        data = {}

        return self.response(data)

    @decorators.auth.require()
    @decorators.use_kwargs(MyInputSchema)
    @decorators.endpoint(
        path="/{{name.replace(" ", "_").lower()}}/<uuid>",
        summary="...",
        responses={
            "204": "..."
        }
    )
    def put(self, uuid, **kwargs):

        db = {{auth}}.get_instance()
        # user = self.get_user()
        # db.update_properties(myobj, kwargs)
        log.info("Updated")

        return self.empty_response()

    @decorators.auth.require()
    @decorators.use_kwargs(MyInputSchema)
    @decorators.endpoint(
        path="/{{name.replace(" ", "_").lower()}}/<uuid>",
        summary="...",
        responses={
            "204": "..."
        }
    )
    def patch(self, uuid, **kwargs):
        """ Update profile for current user """

        db = {{auth}}.get_instance()
        # user = self.get_user()

        # db.update_properties(user, kwargs)

        log.info("Updated")

        return self.empty_response()

    @decorators.auth.require()
    @decorators.endpoint(
        path="/{{name.replace(" ", "_").lower()}}/<uuid>",
        summary="...",
        responses={
            "204": "..."
        }
    )
    def delete(self, uuid, **kwargs):

        db = {{auth}}.get_instance()
        log.info("Deleted")

        return self.empty_response()
