name: Frontend

on:
  # push:
  # pull_request:
  # schedule:
  #   - cron: "0 5 * * *"
  workflow_dispatch:
env:
  PROJECT: {{ project }}

# Cancel previous running jobs on the same branch in case of new pushs
concurrency:
  group: frontend-{% raw %}${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  Development-mode:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: rapydo/actions/install@v2
        with:
          project: ${PROJECT}
          # swarm: 1

      - name: Run Karma
        run: |
          rapydo pull --quiet frontend
          rapydo start frontend
          sleep 5
          rapydo logs frontend
          rapydo shell frontend "yarn install"
          rapydo shell frontend "yarn workspaces focus --all"
          rapydo shell frontend "reload-types"
          rapydo shell frontend "yarn run test:single"

      - name: Coverage
        uses: rapydo/actions/coverage@v2
        with:
          repository: projects/${PROJECT}
          project: ${PROJECT}
          step: frontend
          codecov_token: {% raw -%}${{ secrets.CODECOV_TOKEN }}{% endraw %}

  Production-mode:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: rapydo/actions/install@v2
        with:
          project: ${PROJECT}
          # swarm: 1

      - name: Production Mode
        run: |

          rapydo --testing --prod init --force
          rapydo pull --quiet frontend proxy

          rapydo start frontend proxy
          rapydo logs --follow frontend
          rapydo logs --tail 6 frontend | grep "files have been compressed."
          rapydo logs --tail 20 proxy
          curl --insecure -X GET https://localhost
