name: Frontend

on:
  # push:
  # schedule:
  #   - cron: "0 5 * * *"
  workflow_dispatch:
env:
  PROJECT: {{ project }}

jobs:
  frontend-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - uses: rapydo/actions/install@v1
        with:
          project: ${PROJECT}
          codecov_token: {% raw -%}${{ secrets.CODECOV_TOKEN }}{% endraw %}

      - name: Run Karma
        run: |
          rapydo -s frontend pull --quiet
          rapydo -s frontend start
          sleep 5
          rapydo -s frontend logs
          rapydo shell --no-tty frontend "yarn install"
          rapydo shell --no-tty frontend "reload-types"
          rapydo shell --no-tty frontend "yarn run test:single"
          cp data/${PROJECT}/karma/lcov.info .
          bash <(curl -s https://codecov.io/bash)

      - name: Production mode
        run: |
          rapydo remove --all
          rapydo --prod init --force
          rapydo -s frontend,proxy pull --quiet

          rapydo -s frontend,proxy start
          rapydo dump
          rapydo -s frontend logs --follow
          docker-compose logs --tail 2 frontend 2>&1 | grep "files have been compressed."
          docker-compose logs --tail 20 proxy
          curl --insecure -X GET https://localhost
