name: Frontend

on:
  # push:
  # schedule:
  #   - cron: "0 5 * * *"
  workflow_dispatch:
env:
  PROJECT: {{ project }}

jobs:
  frontend-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - uses: rapydo/actions/install@v1
        with:
          project: ${PROJECT}
          # swarm: 1

      - name: Run Karma
        run: |
          rapydo pull --quiet frontend
          rapydo start frontend
          sleep 5
          rapydo logs frontend
          rapydo shell frontend "yarn install"
          rapydo shell frontend "reload-types"
          rapydo shell frontend "yarn run test:single"

      - name: Coverage
        uses: rapydo/actions/coverage@v1
        with:
          repository: projects/${PROJECT}
          project: ${PROJECT}
          step: frontend
          codecov_token: {% raw -%}${{ secrets.CODECOV_TOKEN }}{% endraw %}

      - name: Production Mode
        run: |
          rapydo remove
          # rapydo remove registry
          rapydo --testing --prod init --force
          # rapydo run registry
          rapydo pull --quiet frontend proxy

          rapydo start frontend proxy
          rapydo logs --follow frontend
          rapydo logs --tail 6 frontend | grep "files have been compressed."
          rapydo logs --tail 20 proxy
          curl --insecure -X GET https://localhost
