{% if auth_service != "NO_AUTHENTICATION" -%}
# from restapi.connectors import {{auth_service}}


{% endif -%}
class Initializer:

    """
    This class is instantiated just after restapi init
    Implement the constructor to add operations performed one-time at initialization
    """

    def __init__(self) -> None:
        {% if auth_service != "NO_AUTHENTICATION" -%}
        # c = {{auth_service}}.get_instance()
        {% endif -%}
        pass

    # This method is called after normal initialization if TESTING mode is enabled
    def initialize_testing_environment(self) -> None:
        pass
