[settings]
line_length = 88
multi_line_output = 3
include_trailing_comma = True
known_third_party = OpenSSL,amqp,apispec,attr,bravado_core,celery,click,dateutil,faker,flask,flask_apispec,flask_cors,flask_migrate,flask_restful,flask_sqlalchemy,geolite2,glom,gripcontrol,gssapi,hypothesis,jinja2,jsonschema,jwt,loguru,marshmallow,neo4j,neobolt,neomodel,passlib,pika,plumbum,psutil,pubcontrol,pymodm,pymongo,pytest,pytz,schemathesis,sentry_sdk,setuptools,sqlalchemy,werkzeug,yaml
