Dear user,<br />
<br />
here your credentials for {{project}}:
<br />
<i>Username: {% raw %}{{username}}{% endraw %}</i><br />
<i
  >Password: {% raw %}{{password}}{% endraw %}<i
    ><br />
    <br />
    <b
      >After the login you can change your password from within the profile page</b
    >

    <br /><br /><br />
    Thank you and sincere greetings,
    <br />
    the {{project}} team
    <br /><br /> </i
></i>
