repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.7.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
  - repo: https://github.com/Lucas-C/pre-commit-hooks-lxml
    rev: v1.1.0
    hooks:
      - id: forbid-html-img-without-alt-text
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.812
  #   hooks:
  #     - id: mypy
  #       additional_dependencies:
  #         ["git+https://github.com/rapydo/http-api.git@1.1"]
  #       # https://mypy.readthedocs.io/en/stable/command_line.html
  #       args: [
  #           "--ignore-missing-imports",
  #           # This flag disallows usage of generic types that do not specify explicit type parameters.
  #           # Moreover, built-in collections (such as list and dict)
  #           # become disallowed as you should use their aliases from the typing module
  #           # (such as List[int] and Dict[str, str]).
  #           "--disallow-any-generics",
  #           # This flag type checks the body of every function, regardless of whether it has type annotations.
  #           # (By default the bodies of functions without annotations are not type checked.)
  #           "--check-untyped-defs",
  #           "--warn-redundant-casts",
  #           "--warn-unused-ignores",
  #           "--warn-return-any",
  #           "--warn-unreachable",
  #         ]
