# -*- coding: utf-8 -*-
# from restapi.models import fields, validate


class CustomProfile:
    def __init__(self):
        pass

    @staticmethod
    def manipulate(ref, user, data):
        # data['CustomField'] = user.custom_field

        return data

    @staticmethod
    def get_user_editable_fields(request):

        # return custom fields or a part of them
        # fields = CustomProfile.get_custom_fields(request)

        # or return something else, maybe an empty dict if extra fields are not editable
        return {}

    @staticmethod
    def get_custom_fields(request):

        required = request and request.method == "POST"

        """
        return {
            'custom_field': fields.Int(
                required=required,
                # validate=validate.Range(min=0, max=???),
                validate=validate.Range(min=0),
                label="CustomField",
                description="This is a custom field"
            )
        }
        """
        return {}
