# -*- coding: utf-8 -*-
# from restapi.models import fields, validate


class CustomProfile:
    def __init__(self):
        pass

    @staticmethod
    def manipulate(ref, user, data):
        # data['CustomField'] = user.custom_field

        return data

    # strip_required is True when the model is invoked by put endpoints
    @staticmethod
    def get_custom_fields(strip_required=False):
        """
        return {
            'custom_field': fields.Int(
                required=not strip_required,
                # validate=validate.Range(min=0, max=???),
                validate=validate.Range(min=0),
                label="CustomField",
                description="This is a custom field"
            )
        }
        """
        return {}
