---
project:
  title: YourProject
  description: "Your project"
  version: "{{ version }}"
  rapydo: "{{ version }}"
  {% if extend -%}
  extends: {{ extend }}
  extends_from: projects
  {% endif %}

variables:
  # roles:
  #   normal_user: YourCustomName
  #   staff_user: YourCustomName
  #   # staff_user: disabled
  #   group_coordinator: YourCustomName
  #   admin_root: YourCustomName
  #   extra_role: YourExtraRole

  # roles_descriptions:
  #   normal_user: User Custom Description
  #   staff_user: Staff Custom Description
  #   group_coordinator: Group Coordinator Custom Description
  #   admin_root: Administrator Custom Description
  #   extra_role: Custom Role Description

  # submodules:
  #   http-api:
  #     branch: "http-api-branch"
  #   rapydo-angular:
  #     branch: "rapydo-angular-branch"
  #   do:
  #     branch: "do-branch"
  env:

    {% if auth_service == "NO_AUTHENTICATION" -%}
    ACTIVATE_AUTH: 0
    {% else -%}
    AUTH_SERVICE: {{ auth_service }}
    {% endif -%}
    FRONTEND_FRAMEWORK: {{ frontend }}
    {% if enable_postgres -%}
    ACTIVATE_ALCHEMY: 1
    ACTIVATE_POSTGRES: 1
    {% endif -%}
    {% if enable_neo4j -%}
    ACTIVATE_NEO4J: 1
    {% endif -%}
    {% if enable_rabbit -%}
    ACTIVATE_RABBIT: 1
    {% endif -%}
    {% if enable_redis -%}
    ACTIVATE_REDIS: 1
    {% endif -%}
    {% if enable_celery -%}
    ACTIVATE_CELERY: 1
    CELERY_ENABLE_CONNECTOR: 1
    ACTIVATE_FLOWER: 1
    {% if enable_redis -%}
    ACTIVATE_CELERYBEAT: 1
    {% endif -%}
    {% endif -%}
    {% if enable_fail2ban -%}
    ACTIVATE_FAIL2BAN: 1
    {% endif -%}
    {% if enable_flower -%}
    ACTIVATE_FLOWER: 1
    {% endif -%}
    {% if enable_ftp -%}
    ACTIVATE_FTP: 1
    {% endif -%}
    {% if celery_broker -%}
    CELERY_BROKER: {{ celery_broker }}
    {% endif -%}
    {% if celery_backend -%}
    CELERY_BACKEND: {{ celery_backend }}
    {% endif -%}
    {% for KEY, VALUE in env_variables.items() -%}
    {{ KEY }}: {{ VALUE }}
    {% endfor %} 
