project: {{ project }}
# stack: your_custom_stack 
hostname: {{ hostname }}
{% if production -%}
production: True
{% else -%}
# production: True
{% endif -%}
{% if swarm -%}
swarm: True
{% endif -%}

project_configuration:
  variables:
    env:
      LOG_LEVEL: INFO
      # SMTP_ADMIN: your@email.org
      AUTH_DEFAULT_USERNAME: {{ "RANDOM"| username }}@nomail.org
      {% if testing -%}
      AUTH_DEFAULT_PASSWORD: {{ "RANDOM"| password }}+Aa1-nowit'sstrong!
      {% else -%}
      AUTH_DEFAULT_PASSWORD: {{ "RANDOM"| password }}
      {% endif -%}

      {% if production -%}
      {% if services -%}{% for service in services -%}
      {% if service == "postgres" -%}
      ALCHEMY_USER: sqluser
      ALCHEMY_PASSWORD: {{ "RANDOM"| password }}
      {% endif -%}
      {% if service == "neo4j" -%}
      NEO4J_PASSWORD: {{ "RANDOM"| password }}
      NEO4J_PAGECACHE_SIZE: 1G
      NEO4J_HEAP_SIZE: 1G
      {% endif -%}
      {% if service == "flower" -%}
      FLOWER_PASSWORD: {{ "RANDOM"| password }}
      FLOWER_USER: {{ "RANDOM"| username }}
      {% endif -%}
      {% if service == "rabbit" -%}
      RABBITMQ_USER: {{ "RANDOM"| username }}
      RABBITMQ_PASSWORD: {{ "RANDOM"| password }}
      {% endif -%}
      {% if service == "redis" -%}
      REDIS_PASSWORD: {{ "RANDOM"| password }}
      {% endif -%}
      {% if service == "ftp" -%}
      FTP_PASSWORD: {{ "RANDOM"| password }}
      {% endif -%}
      {% if swarm -%}
      REGISTRY_USERNAME: {{ "RANDOM"| username }}
      REGISTRY_PASSWORD: {{ "RANDOM"| password }}
      {% endif -%}
      {% endfor %}{% endif -%}
      {% endif -%}

      {% if testing -%}
      SMTP_HOST: mock.mail.service
      SMTP_ADMIN: mock@nomail.org
      SMTP_PORT: 0
      SMTP_USERNAME: {{ "RANDOM"| username }}
      SMTP_PASSWORD: {{ "RANDOM"| password }}
      ALLOW_PASSWORD_RESET: 1
      ALLOW_REGISTRATION: 1
      MAX_LOGS_LENGTH: 40
      AUTH_TOKEN_SAVE_FREQUENCY: 1
      FRONTEND_BUILD_MODE: angular-test
      NEO4J_PASSWORD: {{ "RANDOM"| password }}
      FILE_LOGLEVEL: INFO
      FTP_ENABLE_CONNECTOR: 1
      {# SYSLOG_ADDRESS: "" #}
      {% if production -%}
      DEFAULT_DHLEN: 1024
      GUNICORN_WORKERS: 1
      FORCE_PRODUCTION_TESTS: 1
      {% else -%}
      APP_MODE: test
      {% endif -%}
      {% endif -%}

      {% for env_key in env_variables -%}
      {{ env_key }}: {{ env_variables[env_key] }}
      {% endfor %}