Dear {% raw %}{{name}} {{surname}}{% endraw %},<br />
<br />
use <a href="{% raw %}{{url}}{% endraw %}">this link</a> to force the change of your password.<br /><br />
If you never requested to change your password, please ignore this email
