Dear user,<br />
<br />
<a href="{% raw %}{{url}}{% endraw %}">click here</a> to reset your password for
{{project}}. <br /><br />
If you did not request a password reset, please ignore this email or contact us
if you have any questions.

<br /><br /><br />
Thank you and sincere greetings,
<br />
the {{project}} team
<br /><br />
