{% raw %}
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1>Kitchen Sink</h1>
        </div>

        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>ngx-formly</a>
              <ng-template ngbNavContent>
                <br />
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="form1" (ngSubmit)="submit1()">
                      <formly-form
                        [form]="form1"
                        [fields]="fields1"
                        [model]="model1"
                      >
                      </formly-form>

                      <br />

                      <div *ngIf="data" class="card">
                        <div class="card-body">{{ data | json }}</div>
                      </div>

                      <br />

                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </form>

                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>horizontal forms</a>
              <ng-template ngbNavContent>
                <br />
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="form2" (ngSubmit)="submit2()">
                      <formly-form
                        [form]="form2"
                        [fields]="fields2"
                        [model]="model2"
                      >
                      </formly-form>

                      <div *ngIf="data" class="card">
                        <div class="card-body">{{ data | json }}</div>
                      </div>

                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </form>

                    <br />

                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>ngx-uploadx</a>
              <ng-template ngbNavContent>
                <br />
                <div class="row">
                  <div class="col-12">
                    <input
                      *ngIf="upload_options"
                      type="file"
                      [uploadx]="upload_options"
                      (state)="onUpload($event)"
                    />

                    <span id="upload_speed" *ngIf="upload_speed">
                      Upload speed: {{ upload_speed | bytes}}/s
                    </span>

                    <span *ngIf="upload_progress && upload_progress > 0">
                      <ngb-progressbar
                        showValue="true"
                        type="info"
                        [value]="upload_progress"
                      ></ngb-progressbar>
                    </span>
                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>ngx-datatable</a>
              <ng-template ngbNavContent>
                <br />
                          <div class="table-responsive" #tableWrapper>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
            <ngx-datatable
              class="bootstrap"
              [rows]="table_data"
              [columns]="columns"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="40"
              [footerHeight]="40"
              [limit]="10"
              [rowHeight]="'auto'"
              (activate)="onDatatableActivate($event)"
            >
            </ngx-datatable>

          <ng-template
            #namesCell
            let-row="row"
            let-value="value"
            let-i="index"
          >
            <em>{{value}}</em>
          </ng-template>

                  </div>
                </div>
                </div>
                </div>
              </ng-template>
            </li>


            <li ngbNavItem>
              <a ngbNavLink>Autocomplete</a>
              <ng-template ngbNavContent>
                <br />
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="form3" (ngSubmit)="submit3()">
                      <formly-form
                        [form]="form3"
                        [fields]="fields3"
                        [model]="model3"
                      >
                      </formly-form>

                      <div *ngIf="data" class="card">
                        <div class="card-body">{{ data | json }}</div>
                      </div>

                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </form>
                  <br />
                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>Multi Autocomplete</a>
              <ng-template ngbNavContent>
                <br />
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="form4" (ngSubmit)="submit4()">
                      <formly-form
                        [form]="form4"
                        [fields]="fields4"
                        [model]="model4"
                      >
                      </formly-form>

                      <div *ngIf="data" class="card">
                        <div class="card-body">{{ data | json }}</div>
                      </div>

                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </form>
                  <br />
                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>Preloaded Autocomplete</a>
              <ng-template ngbNavContent>
                <br />
                <div class="row">
                  <div class="col-12">
                    <form [formGroup]="form5" (ngSubmit)="submit5()">
                      <formly-form
                        [form]="form5"
                        [fields]="fields5"
                        [model]="model5"
                      >
                      </formly-form>

                      <div *ngIf="data" class="card">
                        <div class="card-body">{{ data | json }}</div>
                      </div>

                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </form>
                  <br />
                  </div>
                </div>
              </ng-template>
            </li>

          </ul>

          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}