from restapi.connectors.celery import CeleryExt

from restapi.utilities.logs import log
from restapi.connectors import {{auth}}


@CeleryExt.task()
def {{name}}(self: CeleryExt.TaskType) -> str:
    log.info("Task ID: {}", self.request.id)

    db = {{auth}}.get_instance()

    log.info("Task executed!")

    return "Task executed!"

# Note to execute this task from an endpoint:
#
# celery_ext = celery.get_instance()
# task = celery_ext.celery_app.send_task(
#     "{{name}}",
#     args=[...]
# )
# log.debug("Task id={}", task.id)
