from celery.app.task import Task

from restapi.connectors.celery import CeleryExt, Ignore
from restapi.utilities.logs import log
from restapi.connectors import {{auth}}


@CeleryExt.task()
def {{name}}(self: Task, myinput: str) -> str:
    log.info("Task ID: {}", self.request.id)

    db = {{auth}}.get_instance()

    if myinput == "wrong":
        raise AttributeError(
            "You can raise exceptions to stop the task execution in case of errors"
        )

    if myinput == "ignore":
        raise Ignore(
            "You can raise exceptions to stop the execution but without sending emails"
        )

    log.info("Task executed!")

    return "Task executed!"

# Note to execute this task from an endpoint:
#
# celery_ext = celery.get_instance()
# task = celery_ext.celery_app.send_task(
#     "{{name}}",
#     args=(...,)
# )
# log.debug("Task id={}", task.id)
