Dear {% raw %}{{name}} {{surname}}{% endraw %},<br />
<br />
your credentials to access {% raw %}{{project}}{% endraw %} on {% raw %}{{host}}{% endraw %} are changed:
<br /><br />
<i>Username: {% raw %}{{username}}{% endraw %}</i><br />
<i>Password: {% raw %}{{password}}{% endraw %}</i><br />
<br />
<b>Once authenticated you will be asked to change this temporary password.</b>
<br /><br />
This is an automated message, please do not reply to this email.
