/* BOOTSTRAP 5 VARIABLES */
// https://getbootstrap.com/docs/5.0/customize/sass

// $primary:       #007bff;
// $secondary:     #6c757d;
// $success:       #28a745;
// $info:          #17a2b8;
// $warning:       #ffc107;
// $danger:        #dc3545;
// $light:         #f8f9fa;
// $dark:          #343a40;

// $body-bg:          #FFF;
// $card-bg:          #FFF;
// $modal-content-bg: #FFF;

// $font-size-base: 0.8125rem;
// $font-family-sans-serif: "My Font";

/* RAPYDO VARIABLES */
// submodules/frontend/src/styles/variables.scss
